@font-face {
    font-family:'Golos';
    src: url('Golos-Text.ottt/PT/PT/Golos-Text/Golos-Text_Regular.ttf');
}

@font-face {
    font-family:'Oswald';
    src: url('Oswald/static/Oswald-Regular.ttf');
    
}

@font-face {
    font-family:'Fundamental Brigade';
    src: url('Fundamental Brigade/Fundamental 3D Brigade.ttf');
    
}
